@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 auth">
        <LogControl />
    </div>

    <div class="content px-4">
        @Body
    </div>
    <footer class="mt-auto py-3">
        <div class="container" style="text-align:center">
            <a href="http://www.beian.gov.cn/portal/registerSystemInfo">
                <span class="text-muted">
                    辽ICP备16008708号-1
                </span>
            </a>
        </div>
    </footer>
</div>